<section class="header">
<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide " style=" background-image: url(uploads/img/corusel/GM%20corusel.jpg);">
            <div class="slider_info_wrapper">
                <h2 class="slide-title" style="color: #fff !important;"></h2>
                <a class="more_info" href="events/201.html">Daha Cox</a>
            </div>

        </div>
        <div class="swiper-slide " style=" background-image: url(uploads/img/corusel/taqdirlash.jpg);">
            <div class="slider_info_wrapper">
                <h2 class="slide-title" style="color: #fff !important;"></h2>
                <a class="more_info" href="events/198.html">Daha Cox</a>
            </div>

        </div>
        <div class="swiper-slide " style=" background-image: url(uploads/img/corusel/flag-min.jpg);">
            <div class="slider_info_wrapper">
                <h2 class="slide-title" style="color: #fff !important;"></h2>
                <a class="more_info" href="events/180.html">Daha Cox</a>
            </div>

        </div>
        <div class="swiper-slide " style=" background-image: url(uploads/img/yangilikar/Klinik%20va%20profilaktik%20tibbiyot%20jurnali/%d0%b6%d1%83%d1%80%d0%bd%d0%b0%d0%bb%20%d0%a0%d0%95%d0%9a%d0%9b%d0%90%d0%9c%d0%90.jpg);">
            <div class="slider_info_wrapper">
                <h2 class="slide-title" style="color: #fff !important;"></h2>
                <a class="more_info" href="events/154.html">Daha Cox</a>
            </div>

        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

</section>
<div class="yangilik_lar">
    <div class="container yangiliklar_wrapper">
        <div class="yangiliklar_items owl-carousel row-lg">
         @*    @foreach (var item in Model)
            {
                
            } *@
            <div class="yangiliklar_item item  col-lg-3  col-md-3 .container-fluid">
                <div class="item_img">
                    <img src="uploads/img/yangilikar/%d0%af%d0%bd%d0%b3%d0%b8%d0%bb%d0%b8%d0%ba%d0%bb%d0%b0%d1%80%d0%b3%d0%b0%20%d0%b1%d0%b5%d1%80%d0%b8%d0%bb%d0%b0%d1%91%d1%82%d0%b3%d0%b0%d0%bd%20%d1%84%d0%be%d1%82%d0%be%d0%bb%d0%b0%d1%80/Ilmiy%20Kengash%2009.12.2023/Ilmiy%20kengash-2023.09.12..jpg">
                </div>
                <div class="yangiliklar_item_info">
                    <a href="news/71/institut-yangiliklari.html"
                       style="color: #333333"
                       class="yangiliklar_item_info_text">Institut yangiliklari</a>
                    <p class="yangiliklar_item_date"><i class="far fa-clock"></i>Dec 9, 2023</p>
                </div>
                <div class="yangiliklar_item_content">
                    <h3 class="yangiliklar_item_title">Navbatdagi ilmiy                                ...</h3>
                    <a href="detail/navbatdagi-ilmiy-kengash49b4.html?menu_id=71"
                       class="yangiliklar_item_text" style="color: #333">



                        Institutimizda navbatdagi Ilmiy kengash yigʻilishi bo'lib o'tdi Yig'ilishni institutimiz rektori, professor Akmal Sidikov ochib berib, bugungi yigʻilish kun tartibiga qo'                                ...
                    </a>
                </div>
                <div class="yangiliklar_item_more">
                    <a href="detail/navbatdagi-ilmiy-kengash49b4.html?menu_id=71"
                       class="more_info">
                        Daha Cox <i class="fas fa-angle-right"></i>
                    </a>
                    <p class="info_view"><i class="far fa-eye"></i> 59</p>
                </div>
            </div>
           
        </div>
        <a href="site/all.html" class="all_news"
           style="text-align: center">Hamisi</a>
    </div>
</div>
<!-- Yangiliklar ends -->
<!-- About us -->
<section class="about">
    <div class="row d-flex align-center">
        <div class="video-content" style=" background-image: url(uploads/img/corusel/photo_2021-05-11_10-01-43.html);">
            <a data-fancybox="single" href="https://www.youtube.com/embed/https://www.youtube.com/watch?v=amKibGwy9eU" class="playBut">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="180px"
                     height="180px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                     xml:space="preserve">
                <polygon class="triangle" id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round"
                         stroke-linejoin="round" stroke-miterlimit="10"
                         points="  73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                <circle class="circle" id="XMLID_17_" fill="none" stroke-width="7" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"></circle>
                </svg>
            </a>
        </div>
        <div class="text-content">
            <h2 style="text-align: center;font-size: 20px">
                FARG‘ONA JAMOAT SALOMATLIGI TIBBIYOT INSTITUTINI TASHKIL ETISH...
            </h2>
            <div class="about-body">
                O&lsquo;ZBEKISTON RESPUBLIKASI PREZIDENTINING

                QARORI

                FARG&lsquo;ONA JAMOAT SALOMATLIGI TIBBIYOT INSTITUTINI TASHKIL ETISH TO&lsquo;G&lsquo;RISIDA

                &nbsp;

                Sog&lsquo;liqni saqlash, sanitariya-epidemiologik osoyishtalik va jamoat salomatligi sohasida yuqori malakaga ega oliy ma&rsquo;lumotli kadrlarni tayyorlash, xodimlarni kasbiy...

            </div>
            <a href="about/fargona-jamoat-salomatligi-tibbiyot-institutini-tashkil-etish-togrisida.html"
               class="btn_readMore">Daha Cox</a>
            <a href="site/virtual-reception.html"
               class="btn_borderBlue">Bog'lanish</a>
        </div>
    </div>
    <div class="container mt-3">
        <div class="cards res-none">
            <div class="row counter">
                <div class="px-0 col-lg-3 col-md-3 col-sm-12">
                    <div class="card-item">
                        <span class="fas fa-user-tie"></span>
                        <div class="count" data-count="267">0</div>
                        <h4 class="size15 text-center mt-2">Professor o`qituvchilar</h4>
                    </div>
                </div>
                <div class="px-0 col-lg-3 col-md-3 col-sm-12">
                    <div class="card-item">
                        <span class="fas fa-users"></span>
                        <div class="count" data-count="4421">0</div>
                        <h4 class="size15 text-center mt-2">Talabalar</h4>
                    </div>
                </div>
                <div class="px-0 col-lg-3 col-md-3 col-sm-12">
                    <div class="card-item">
                        <span class="fas fa-graduation-cap"></span>
                        <div class="count" data-count="100">0</div>
                        <h4 class="size15 text-center mt-2">Bitiruvchilar</h4>
                    </div>
                </div>
                <div class="px-0 col-lg-3 col-md-3 col-sm-12">
                    <div class="card-item">
                        <span class="fas fa-book"></span>
                        <div class="count" data-count="27830">0</div>
                        <h4 class="size15 text-center mt-2">Kitob fondi</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="cards desk-none owl-carousel" id="card-carousel">
            <div class="card-item">
                <span class="fas fa-user-tie"></span>
                <div class="counter">267</div>
                <h4 class="size15 text-center mt-2">Professor o`qituvchilar</h4>
            </div>
            <div class="card-item">
                <span class="fas fa-users"></span>
                <div class="counter">4421</div>
                <h4 class="size15 text-center mt-2">Talabalar</h4>
            </div>
            <div class="card-item">
                <span class="fas fa-graduation-cap"></span>
                <div class="counter">100</div>
                <h4 class="size15 text-center mt-2">Bitiruvchilar</h4>
            </div>
            <div class="card-item">
                <span class="fas fa-book"></span>
                <div class="counter"></div>
                <h4 class="size15 text-center mt-2">Kitob fondi</h4>
            </div>
        </div>
    </div>
</section>

<section class="interactive" style="margin-top: 250px">
    <h2 style="text-transform: uppercase;text-align: center;color: #000064;">Interaktiv xizmatlar</h2>
    <main class="container">

        <div class="interactive_items">
            <a href="site/virtual-reception.html" class="interactive_item">
                <img src="img/1.png" alt="icon1">
                <h2 class="item_title"
                    style="text-transform: uppercase">
                    Virtual qabulxona
                </h2>
            </a>
            <a href="http://moodle.fjsti.uz/login/index.php" class="interactive_item">
                <img src="img/moodle2.png" alt="icon1">
                <h2 class="item_title"
                    style="text-transform: uppercase">
                    MASOFAVIY TA'LIM
                </h2>
            </a>
            <a href="http://hemis.fjsti.uz/" class="interactive_item">
                <img src="img/hemisorg.png" alt="icon1">
                <h2 class="item_title"
                    style="text-transform: uppercase">
                    MASOFAVIY TA'LIMNI BOSHQARISH TIZIMI
                </h2>
            </a>
            <a href="http://e-library.fjsti.uz/" class="interactive_item">
                <img src="img/kutubxona.jpg" alt="icon1">
                <h2 class="item_title"
                    style="text-transform: uppercase">
                    Elektron kutubxona
                </h2>
            </a>
            <a href="https://www.scopus.com/standard/marketing.uri" class="interactive_item">
                <img src="img/scopus.jpg" alt="icon1">
                <h2 class="item_title" style="text-transform: uppercase">Scopus</h2>
            </a>

        </div>
    </main>
</section>
<section class="fakultetlar">
    <div class="container">
        <div class="fak-title">
            <h2 style="text-transform: uppercase;">Fakültələr</h2>
        </div>
        <div class="w-100 swiper-container mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card w-100">
                        <div class="card-head">
                            <div class="overlay-card">
                                <a href="faculty/17/davolash-ishi.html"
                                   class="btn btn-more">Daha Cox</a>
                            </div>
                            <img src="uploads/img/fakultet/Davolash%20ishi/%d0%bb%d0%be%d0%b3%d0%be%20%d0%bb%d0%b5%d1%87%d0%b5%d0%b1%d0%bd%d0%be%d0%b5.png" alt="" class="card-img-top">
                        </div>
                    </div>
                    <div class="card-body w-100">
                        <h4 class="text-center">Davolash ishi</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card w-100">
                        <div class="card-head">
                            <div class="overlay-card">
                                <a href="faculty/17/tibbiy-profilaktika-va-jamoat-salomatligi-fakulteti.html"
                                   class="btn btn-more">Daha Cox</a>
                            </div>
                            <img src="uploads/img/fakultet/tibbbiy/kaTv5j4aJXg.jpg" alt="" class="card-img-top">
                        </div>
                    </div>
                    <div class="card-body w-100">
                        <h4 class="text-center">Tibbiy profilaktika va jamoat salomatligi fakulteti</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card w-100">
                        <div class="card-head">
                            <div class="overlay-card">
                                <a href="faculty/17/xalqaro-fakultet.html"
                                   class="btn btn-more">Daha Cox</a>
                            </div>
                            <img src="uploads/img/fakultet/xalqaro/unnamed.png" alt="" class="card-img-top">
                        </div>
                    </div>
                    <div class="card-body w-100">
                        <h4 class="text-center">Xalqaro fakultet</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section class="swiper-container mySwiper2">
        <h2 style="text-transform: uppercase;text-align: center;color: #000064;">Kafedra</h2>
        <div class="swiper-wrapper ">
            <a href="departments/38/pediatriya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/pediatriya/lo.png" alt="6">
                <h3>Pediatriya  kafedrasi</h3>
            </a>
            <a href="departments/38/mikrobiologiya-virusologiya-va-immunologiya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/f_cm9zdGVjLnJ1L3VwbG9hZC9pYmxvY2svYjhiL2I4Yjk5ZWZiNGY0ZDk4YTVjYzc5YzJiY2RjMDdlMzNlLmpwZz9fX2lkPTEyNzAwNQ%3d%3d.jpg" alt="6">
                <h3>Mikrobiologiya, virusologiya va immunologiya kafedrasi</h3>
            </a>
            <a href="departments/38/ozbek-va-xorijiy-tillar-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/iStock-803108284-copy.jpg" alt="6">
                <h3>O`zbek va xorijiy tillar kafedrasi</h3>
            </a>
            <a href="departments/38/kommunal-va-mehnat-gigienasi-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/Eugzw27WYAAXskf.jpg" alt="6">
                <h3>Kommunal va mehnat gigienasi kafedrasi</h3>
            </a>
            <a href="departments/38/tibbiy-kimyo-va-biologik-kimyo-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/6096321452c49263241242.jpg" alt="6">
                <h3>Tibbiy kimyo va biologik kimyo kafedrasi</h3>
            </a>
            <a href="departments/38/epidemiologiya-va-yuqumli-kasalliklar-hamshiralik-ishi-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/immunity-sm-500x383%402x.png" alt="6">
                <h3>Epidemiologiya va yuqumli kasalliklar, hamshiralik ishi kafedrasi</h3>
            </a>
            <a href="departments/38/umumiy-jarrohlik-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/terapiya.jpg" alt="6">
                <h3>Umumiy jarrohlik kafedrasi</h3>
            </a>
            <a href="departments/38/ovqatlanish-bolalar-va-osmirlar-gigienasi-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/a859f0e7c7bdc76d6401039f35e25ce7.jpg" alt="6">
                <h3>Ovqatlanish, bolalar va o`smirlar gigienasi kafedrasi</h3>
            </a>
            <a href="departments/38/ijtimoiy-fanlar-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/1c9bb034d6acd3a8a02f05b1650a49a8.jpg" alt="6">
                <h3>Ijtimoiy fanlar kafedrasi</h3>
            </a>
            <a href="departments/38/normal-anatomiya-oj-va-topografik-anatomiya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/operaciia.jpg" alt="6">
                <h3>Normal anatomiya OJ va topografik anatomiya kafedrasi</h3>
            </a>
            <a href="departments/38/biofizika-va-axborot-texnologiyalar-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/electronic_performance_and_tracking_systems_infographic-1.jpg" alt="6">
                <h3>Biofizika va axborot texnologiyalar kafedrasi</h3>
            </a>
            <a href="departments/38/anatomiya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/0c0a03096c3c19ecb8ab96a2fdb1516d.jpg" alt="6">
                <h3>Anatomiya kafedrasi</h3>
            </a>
            <a href="departments/38/lotin-tili-pedagogika-va-psixologiya.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/psix.png" alt="6">
                <h3>Lotin tili, pedagogika va psixologiya</h3>
            </a>
            <a href="departments/38/gistologiya-va-biologiya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/Gistologiya/2.png" alt="6">
                <h3>Gistologiya va biologiya kafedrasi</h3>
            </a>
            <a href="departments/38/ichki-kasalliklar-propedevtikasi-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/original.jpg" alt="6">
                <h3>Ichki kasalliklar  propedevtikasi kafedrasi</h3>
            </a>
            <a href="departments/38/akusherlik-va-ginekologiya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/gisteroskopija.jpg" alt="6">
                <h3>Akusherlik va ginekologiya kafedrasi</h3>
            </a>
            <a href="departments/38/fiziologiya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/fiziologiya/%d1%84%d0%b8%d0%b7%d0%b8%d0%be%d0%bb%d0%be%d0%b3%d0%b8%d1%8f%20(1).jpg" alt="6">
                <h3>Fiziologiya kafedrasi</h3>
            </a>
            <a href="departments/38/xalq-tabobati-va-farmakologiya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/patient-special-issue-probiotic-top-1.jpg" alt="6">
                <h3>Xalq tabobati va farmakologiya kafedrasi</h3>
            </a>
            <a href="departments/38/jamoat-salomatligi-sogliqni-saqlashni-tashkil-etish-boshqarish-va-sport-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/jamoat-salomatligisoglikni-saqlashni-tashkil-etish-va-boshqarish-kafedrasi/logo%20(1).png" alt="6">
                <h3>Jamoat salomatligi sog`liqni saqlashni tashkil etish, boshqarish va sport kafedrasi</h3>
            </a>
            <a href="departments/38/patalogik-fiziologiya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/original.jpg" alt="6">
                <h3>Patalogik fiziologiya kafedrasi </h3>
            </a>
            <a href="departments/38/usmle-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/rahbariyat/Xorijiy%20kafedra/photo_2022-09-07_18-35-38.html" alt="6">
                <h3>USMLE kafedrasi</h3>
            </a>
            <a href="departments/38/stomatologiya-va-otoloringologiya-kafedradsi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/Stomatologiya%20kafedrasi/1643209620_82-phonoteka-org-p-fon-dlya-prezentatsii-stomatologiya-94.jpg" alt="6">
                <h3>Stomatologiya va otoloringologiya kafedradsi </h3>
            </a>
            <a href="departments/38/gospital-terapiya-ftiziatriya-laboratoriya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/Gospital%20terapiya%20kafedrasi/864774c5b5d5e042742e4ff0a64ce36f.jpg" alt="6">
                <h3>Gospital terapiya (ftiziatriya, laboratoriya) kafedrasi </h3>
            </a>
            <a href="departments/38/travmatologiya-va-ortopediya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/Travmatologiya%20kafedrasi/Traumatologo%20Background.jpg" alt="6">
                <h3>Travmatologiya va ortopediya kafedrasi</h3>
            </a>
            <a href="departments/38/fiziologiya-kafedrasi-2.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/Fiziologiya%20kafedrasi/1_G-ier1ghI11oRJgEnjcstg.jpg" alt="6">
                <h3>Fiziologiya kafedrasi</h3>
            </a>
            <a href="departments/38/terapiya-yonalishidagi-fanlar-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/Dermatovenerologiya%20kafedrasi/9910676b52ab479102cf64515e611fd3.jpg" alt="6">
                <h3>Terapiya yo'nalishidagi fanlar kafedrasi</h3>
            </a>
            <a href="departments/38/nevrologiya-va-psixiatriya-kafedrasi.html"
               class="swiper-slide">
                <img src="uploads/img/kafedra/Nevrologiya%20kafedrasi/Best-Neurologist-in-Guntur.html" alt="6">
                <h3>Nevrologiya va psixiatriya kafedrasi</h3>
            </a>
        </div>
        <div class="swiper-pagination"></div>
    </section>
</div>

<div class="media-block" style="margin-top: 80px">
    <div class="container">
        <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a href="#pills-photomedia" role="tab" aria-controls="pills-photomedia" aria-selected="true"
                   class="nav-link active" id="pills-photomedia-tab" data-toggle="pill"
                   style="color: #000064;">Videomateriallar</a>
            </li>
            <li class="nav-item">
                <a href="#pills-videomedia" role="tab" aria-controls="pills-videomedia" aria-selected="true"
                   class="nav-link" id="pills-videmedia-tab" data-toggle="pill"
                   style="color: #000064;">Fotogalareya</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active oz " id="pills-photomedia" role="tabpanel"
                 aria-labelledby="pills-photomedia-tab">
                <div class="newsLinks">
                    <a href="video.html"> BARCHASI</a>
                </div>
                <div class="videoCarousel owl-carousel" id="gallery">

                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/Vil%20hokimi/Tibbiyotchila%20yeg%27ilishi.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/Belarus-2023/Ruscha_telegram.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/Belarus-2023/2.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/Qasamyod-2023/video_2023-11-22_00-18-02.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/Konferensiya/video_2023-11-20_17-31-56.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/Bayroq/IMG_2613.MP4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/Brifing/video_2023-10-24_14-24-37.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/Laboratoriya/Labaratoriya.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/FNKSR%20NIIOR/%d0%a0%d0%98%d0%9d%d0%a6.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="height:220px">
                        <video src="uploads/img/yangilikar/video/FNKSR%20NIIOR/video_2023-07-21_23-05-46.mp4" style="width: 100%" height="100%"
                               controls="true"></video>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-videomedia" role="tabpanel" aria-labelledby="pills-videomedia-tab">
                <div class="newsLinks">
                    <a href="galereya.html"> BARCHASI</a>
                </div>
                <div class="PhotoCarousel owl-carousel" id="gallery2">
                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/photo_2021-11-02_12-32-06%20(3).jpg" data-fancybox="fig">
                                <img src="uploads/img/photo_2021-11-02_12-32-06%20(3).jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/-8.html"></a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/photo_2021-11-01_17-17-50.jpg" data-fancybox="fig">
                                <img src="uploads/img/photo_2021-11-01_17-17-50.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/-7.html"></a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/photo_2021-11-01_17-17-49.jpg" data-fancybox="fig">
                                <img src="uploads/img/photo_2021-11-01_17-17-49.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/-5.html"></a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/photo_2021-11-01_11-16-02.jpg" data-fancybox="fig">
                                <img src="uploads/img/photo_2021-11-01_11-16-02.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/-3.html"></a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/photo_2021-11-01_17-17-46.jpg" data-fancybox="fig">
                                <img src="uploads/img/photo_2021-11-01_17-17-46.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/-2.html"></a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/yangilikar/photo_2021-10-01_22-20-46.jpg" data-fancybox="fig">
                                <img src="uploads/img/yangilikar/photo_2021-10-01_22-20-46.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery.html"></a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/yangilikar/2.jpg" data-fancybox="fig">
                                <img src="uploads/img/yangilikar/2.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/30-sentabr-institut-faoliyatidagi-tarihiy-sanalardan-biriga-aylandi.html">30-sentabr institut faoliyatidagi tarihiy sanalardan biriga aylandi</a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/rector.jpg" data-fancybox="fig">
                                <img src="uploads/img/rector.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/rektor-va-yoshlar-uchrashuvi.html">Rektor va yoshlar uchrashuvi</a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/photo_2021-09-01_22-22-15.jpg" data-fancybox="fig">
                                <img src="uploads/img/photo_2021-09-01_22-22-15.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/bayram-tuhfasi.html">Bayram tuhfasi </a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/%d1%81%d0%b8%d0%b4%d0%b8%d0%ba%d0%be%d0%b2-min.jpg" data-fancybox="fig">
                                <img src="uploads/img/%d1%81%d0%b8%d0%b4%d0%b8%d0%ba%d0%be%d0%b2-min.jpg"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/rektor-delegatsiyasi.html">Rektor delegatsiyasi</a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/imges/photo_2021-06-19_18-44-58.html" data-fancybox="fig">
                                <img src="uploads/img/imges/photo_2021-06-19_18-44-58.html"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/yoshlar-festivali-2.html">Yoshlar festivali                                                                     </a>.
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-lg-12">
                        <figure style="height: 250px">
                            <a href="uploads/img/imges/23.html" data-fancybox="fig">
                                <img src="uploads/img/imges/23.html"
                                     style="height: 100%;width: 100%;object-fit: cover" alt="Picture" />
                            </a>
                            <figcaption style="display: none">
                                <a href="full-gallery/yoshlar-festivali.html">Yoshlar festivali                                                                     </a>.
                            </figcaption>
                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="usefull ">
    <div class="container">
        <h2 class="py-2" style="color: #000064">Faydali mənbələr</h2>
        <div class="owl-carousel" id="use-carousel">
            <a href="https://ssv.uz/uz" class="use-item">
                <img src="uploads/img/logo/%d0%91%d0%b5%d0%b7%20%d0%bd%d0%b0%d0%b7%d0%b2%d0%b0%d0%bd%d0%b8%d1%8f.html" alt="">
                <h3 style="color: #000064">Azerbaycan Respublikasi Sog`liqni saqlash vazirligi</h3>
            </a>
            <a href="https://president.uz/uz" class="use-item">
                <img src="uploads/img/useful/prezident_sayt.png" alt="">
                <h3 style="color: #000064">Azerbaycan Respublikasi Prezidenti</h3>
            </a>
            <a href="https://lex.uz/" class="use-item">
                <img src="uploads/img/useful/lex.uz.png" alt="">
                <h3 style="color: #000064">Azerbaycan RESPUBLIKASI qonun hujjatlari ma'lumotlar bazasi</h3>
            </a>
            <a href="https://gov.uz/uz" class="use-item">
                <img src="uploads/img/useful/gov_uz.png" alt="">
                <h3 style="color: #000064">Azerbaycan RESPUBLIKASI hukumat portali</h3>
            </a>
            <a href="https://edu.uz/uz" class="use-item">
                <img src="uploads/img/logo/logo.html" alt="">
                <h3 style="color: #000064">Azerbaycan RESPUBLIKASI Oliy va o`rta maxsus ta'lim vazirligi</h3>
            </a>
        </div>
    </div>
</section>
